################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Client/bin
/Client/obj
/Package/bin
/Package/obj
