@namespace RLTechnologies.Theme.HealthCare.Components


<footer class="footer">
    <div>
        <div class="container">
            <div class="footer__head">
                <h1 class="footer__subtitle text-center text-capitalize">
                    Unlock New Boundaries With Our State of the art products
                </h1>

                <div class="text-center">
                    <button type="button"
                            class="dnn-btn dnn-btn__primary dnn-btn__primary--hero">
                        Get In Touch
                    </button>
                </div>
            </div>

            <div class="footer__details">
                <div class="row">
                    <div class="col-md-6">
                        <div class="details-part">
                            <div class="footer__logo">
                                <a href="#">
                                    <img src="/Themes/RLTechnologies.Theme.HealthCare/img/logo.svg"
                                         alt="Logo"
                                         class="menubar__logo" />
                                </a>
                            </div>

                            <h6>
                                Don't miss out on the latest innovations in skin care. Sign
                                up below to stay informed.
                            </h6>
                            <div class="subscription-form">
                                <input type="text"
                                       placeholder="Enter your email here..." />
                                <button type="submit"
                                        class="dnn-btn dnn-btn__primary dnn-btn__primary--hero">
                                    Submit
                                </button>
                            </div>
                            <p>
                                By submitting this form you agree to our Privacy Policy and
                                consent to receiving communication from Iron Health. 
                            </p>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="menu-part">
                            <div class="row col-equal-height">
                                <div class="col-md-5">
                                    <h6>Quick Links</h6>
                                    <div class="footer__menu">
                                        <div class="footer__menu__items">
                                            <a class="menu__link"
                                               href="#">Home</a>
                                            <a class="menu__link"
                                               href="#">About Us</a>
                                            <a class="menu__link"
                                               href="#">Our Products</a>
                                            <a class="menu__link"
                                               href="#">How it Works</a>
                                            <a class="menu__link"
                                               href="#">Client Reviews</a>
                                            <a class="menu__link"
                                               href="#">FAQ</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="footer__connect">
                                        <div class="footer__social">
                                            <p class="text-grey-2 text-right mb-30">
                                                Connect With Us
                                            </p>
                                            <div class="footer__social-icons">
                                                <a class="footer__social-icon"
                                                   href="#">
                                                    <i class="icon-instagram"></i>
                                                </a>
                                                <a class="footer__social-icon"
                                                   href="#">
                                                    <i class="icon-facebook"></i>
                                                </a>
                                                <a class="footer__social-icon"
                                                   href="#">
                                                    <i class="icon-linkedin"></i>
                                                </a>
                                                <a class="footer__social-icon"
                                                   href="#">
                                                    <i class="icon-twitter"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <p>&copy; 2024 Company Name</p>
                    </div>
                    <div class="col-md-5">
                        <ul>
                            <li>
                                <a href="">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="">Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<button type="button"
        id="go-top"
        class="top-navigation__btn">
    <i class="icon-up-arrow"></i>
</button>
@code {

}
